*{
    margin: 0;
    padding: 0;
}

.cartao{
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body{
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: flex;
}

.cartao__conteudo {
    text-align: center;
    height: 100%;
}

.cartao__conteudo h3 {
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
}